/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#mapcanvas { height: 100% }




html.front .region-content, html.front h2{
    display:none;
}

#auth-loginlink{
    font-size: 250%;
}

#themessage {
  position: relative;
}

.node .field-name-body {
  position: absolute;
z-index: 10;
top: 0;
left: 0;
color: whiteSmoke;
text-shadow: 1px 1px 1px black;
}


.node .field-name-body .field-item {
  font-size: 39px !important;
  text-shadow: 2px 2px 6px black;
  padding: 0.5em;
  background-color: rgba(0, 0, 80, 0.6);
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */


  #mapcanvas {
    height:400px;
  }




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


